*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* header section styles */
header{
    opacity: 1;
    background: linear-gradient(1deg, #4A99D3 -17.33%, rgba(74, 153, 211, 0.00) 75.91%), #FFF;
    box-shadow: 0px 4px 16px 0px rgba(75, 0, 129, 0.26);
}
.nav-tittle{
    color: #549fd5;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #260041;
}
nav a:hover{
    color: #549fd5;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-tittle{
    color: #260041;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.banner-description{
    color: #260041;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 10px;
}
.btn{
    width: 180px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 5px;
    background: #4A99D3;
    margin-top: 60px;
}
.img-1{
    width: 600px;
    height: 600px;
    position: relative;
    left: 90px;
}
/* main section styles */
.customer-section{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 150px;
}
.cutomer-tittle{
    color: #260041;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1.8px;
    margin-bottom: 215px;
}
.head{
    color:  #0F001A;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin-top: 50px;
}
.paragraph{
    color: #0F001A;
    font-size: 1rem;
    margin-top: 20px;
}
.btn-1{
    border: none;
    background: none;
    color: #4A99D3;
    font-size: .8rem;
    font-weight: 500;
    margin-top: 40px;
}
.background{
    margin-top: 30px;
    text-align: center;
    width: 380px;
    height: 480px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 5px 20px 50px 0px rgba(74, 153, 211, 0.20);
}
.works-section{
    margin-top: 150px;
    background: rgba(74, 153, 211, 0.10);
    height: 475px;
}
.works-tittle{
    color: #4A99D3;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    padding-top: 95px;
}
.worker-position{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 80px;
}
.download-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}
.img-5{
    width: 600px;
    height: 600px;
}
@media screen and (max-width: 576px) {
    header{
        height: 100%;
        width: 100%;
    }
    nav,.customer-section,.worker-position,.download-section{
        flex-direction: column;
    }
    .banner-tittle{
        font-size: 1.5rem;
    }
    .banner-description{
        font-size: 12px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .img-1{
        width: 80%;
        height: 80%;
    }
    .images{
        margin-left: 50px;
        flex-direction: column;
    }
    .banner-container,.cutomer-tittle,.center{
        text-align: center;
    }
    .cutomer-tittle{
        font-size: 1rem;
    }
    .background{
        width: 100%;
        height: 100%;
    }
    .works-section{
        height: 100%;
    }
    .img-5{
        width: 100%;
        height: 100%;
    }
}
